@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:wght@100..900&display=swap');

/* Common Css Start */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #070807;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
body:focus {
  outline: none;
}
img {
  margin: 0px;
  padding: 0px;
}
* {
  margin: 0px;
  padding: 0px;
}
p:empty {
  display: none;
}
Link {
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
Link:hover {
  text-decoration: none;
}

.heading {
  color: #ba9775;
  -webkit-text-stroke-width: 0.20000000298023224;
  -webkit-text-stroke-color: #fff;
  font-family: 'Cormorant', serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.275%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin: 50px;
}
/* Common Css End */

.other-nav {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}
Link.link {
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
  text-decoration: none;
}
.hero-section {
  background-color: #141414;
}
.hero-section h1 {
  position: relative;
  width: fit-content;
  margin-top: -1.2px;
  margin-left: -0.2px;
  -webkit-text-stroke: 0.2px #ffffff;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0.28px;
  line-height: 27px;
}
.hero-section p {
  position: relative; 
  font-family: 'Inter-Light', Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.24px;
  line-height: 25.6px;
}
.button1 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}
.button1 span {
  position: relative;
  width: fit-content;
  color: #ffffff;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.24px;
  line-height: 25.6px;
  white-space: nowrap;
}
.text-hd {
  bottom: 10px;
  left: 5px;
  -webkit-text-stroke: 0.2px #ffffff;
  font-family: 'Cormorant', serif;
  font-weight: 100;
  color: #ffffff;
  font-size: 94px;
  letter-spacing: 1.88px;
  line-height: normal;
  white-space: nowrap;
}
.trust-factor {
  display: flex;
  margin: 0 auto;
  background-color: #ba9775;
  padding: 24px;
}
.tf-main {
  display: inline-flex;
  align-items: flex-start;
  gap: 70px;
  margin: 0 auto;
}
.tf-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
  min-width: 150px;
}
.tf-heavy {
  position: relative;
  width: fit-content;
  margin-top: -1.2px;
  margin-left: -0.2px;
  -webkit-text-stroke: 0.2px #070807;
  font-family: 'Cormorant Infant-Regular', Helvetica;
  font-weight: 400;
  color: #070807;
  font-size: 40px;
  letter-spacing: 0.4px;
  line-height: 38.5px;
  white-space: nowrap;
}
.tf-sub-cnt {
  position: relative;
  width: fit-content;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  color: #f9f4ee;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.14px;
  line-height: 13.5px;
  white-space: nowrap;
}
.main-hd {
  display: inline-flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
  position: relative;
}
.main-hd h2 {
  position: relative;
  width: fit-content;
  -webkit-text-stroke: 0.2px #ffffff;
  font-weight: 400;
  color: #ba9775;
  font-size: 32px;
  letter-spacing: 0.32px;
  line-height: 30.8px;
  white-space: nowrap;
}
.main-hd h2 span {
  position: relative;
  width: fit-content;
  margin-top: -1.2px;
  margin-left: -0.2px;
  -webkit-text-stroke: 0.2px #ffffff;
  opacity: 0.3;
  font-weight: 400;
  color: #ba9775;
  font-size: 80px;
  letter-spacing: 0.8px;
  line-height: 77px;
  white-space: nowrap;
}
section.country,
section.collection {
  padding: 10% 0;
  background-repeat: no-repeat;
  background-position: right;
}
section.country {
  background-image: url(../images/worldMap.svg);
}
section.collection {
  background-image: url(../images/coloaction2.png);
  background-color: #111211;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.cards-wrapper .card img {
  max-width: 100%;
  max-height: 100%;
}
.cards-wrapper .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  background: none;
  color: #fff;
}
.distilleries_carousel .carousel-inner {
  padding: 1em;
}
.distilleries_carousel .carousel-control-prev,
.distilleries_carousel .carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.cards-wrapper .card Link {
  color: #ba9775;
  font-family: 'Inter-Regular', Helvetica;
  font-weight: 400;
  font-size: 16px;
}
.bottom-link {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}
.line-3 {
  width: 355px;
  position: relative;
  height: 1px;
  object-fit: cover;
}
.rt-hd.top-m {
  margin: 50px 0;
}
/* Responsive Media */

@media (max-width: 766px) {
  section.collection {
    height: 100vh;
    background-size: 100%;
    margin-bottom: 20px;
    background-position: bottom right;
  }
  .tf-main {
    gap: 40px;
    flex-wrap: wrap;
  }
  .text-hd {
    top: 56%;
    right: 5px;
    font-size: 50px;
  }
  .hero-section { 
    padding-top: 30px;
}
.heading{ margin: 10px 0px;}
.rt-hd.top-m {
  margin: 10px 0;
}
}

.home {
  background-color: red;
  text-align: center;
}
