@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:wght@100..900&display=swap');
        
/* Common Css Start */
html{ scroll-behavior: smooth; }
body{  overflow-y:auto !important ;  margin: 0;padding: 0 !important;color: #fff;background: #070807;font-family: "Inter", sans-serif;font-size: 16px;}
body:focus{ outline: none; }
img,ul,h1,h2,h3,h4,h5,h6,p{ margin:0px; padding:0px; }
*{ margin:0px; padding:0px; }
p:empty{ display: none; }
a{ text-decoration: none; color: inherit; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; font-family: Inter;}
a:hover{ text-decoration:none; color: inherit; }

h1, h2, h3, h4, h5, h6 {font-family: "Cormorant", serif;}

button{font-family: Inter; color: #fff;}
.nav-link, .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: #fff;
}
.nav-link:hover{
    color:#ba9775;
}
.text-color{
    color:#ba9775; 
}
h4{font-size: 24px;}
p{font-size: 16px;}

        .heading{
            color: #BA9775;
            -webkit-text-stroke-width: 0.20000000298023224;
            -webkit-text-stroke-color: #FFF;
            font-family: "Cormorant", serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 96.275%;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            margin-bottom: 46px;
        }
        .sec-pad {
            padding: 60px 0;
        }
        .custom_outline_btn {
            display: inline-flex;
            height: 40px;
            padding: 3px 16px 5px 16px;
            align-items: center;
            border-radius: 4px;
            border: 1px solid #BA9775;
            color: #FFF;
            font-family: Inter;
            letter-spacing: -0.24px;
        }
        .custom_outline_btn:hover,.custom_outline_btn:active,.custom_outline_btn:focus{
            background-color:#BA9775 !important;
            border: 1px solid #BA9775 !important;
            color:#fff;
        }
        .custom_btn {
            display: inline-flex;
            height: 40px;
            padding: 3px 16px 5px 16px;
            align-items: center;
            border-radius: 4px;
            border: 1px solid #BA9775;
            color: #FFF;
            background-color:#BA9775 ;
            font-family: Inter;
            letter-spacing: -0.24px;
        }
        .custom_btn:hover,.custom_btn:active,.custom_btn:focus{
            background-color:transparent !important;
            border: 1px solid #BA9775 !important;
            color:#BA9775 !important; 
        }
/* Common Css End */

        
        .other-nav {
            display: inline-flex;
            align-items: center;
            gap: 24px;
            position: relative;
            flex: 0 0 auto;
        }
        a.link {
            font-weight: 300;
            color: #ffffff;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0;
            line-height: 19.2px;
            white-space: nowrap;
            text-decoration: none;
        }
        .hero-section {
            background-color: #141414;
            position: relative;
        }
        .hero-section h1 {
            position: relative;
            width: fit-content;
            margin-top: -1.2px;
            margin-left: -0.2px;
            -webkit-text-stroke: 0.2px #ffffff; 
            font-weight: 400;
            color: #ffffff;
            font-size: 32px;
            letter-spacing: 0.28px;
            line-height: 27px;
            margin-bottom: 15px;
        }
        .hero-section p {
            position: relative; 
            font-weight: 300;
            color: #ffffff;
            font-size: 16px;
            letter-spacing: -0.24px;
            line-height: 25.6px;
        }
        .hero-image img{
            max-width: 850px;
        }
        
        .button1 {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            position: relative;
            flex: 0 0 auto;
        }
        .button1 span {
            position: relative;
            width: fit-content;
            color: #ffffff;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: -0.24px;
            line-height: 25.6px;
            white-space: nowrap;
        }
        .text-hd {
            bottom: 10px;
            right: 40%;
            font-family: "Cormorant Infant";
            color: #ffffff;
            font-size: 70px;
            line-height: normal;
            white-space: nowrap;
            position: absolute;
            left: 20px;
            letter-spacing: 1.88px;
        }
        .trust-factor {
            display: flex;
            margin: 0 auto;
            background-color: #ba9775;
            padding: 35px 0;
        }
        .tf-main {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 70px;
            margin: 0 auto;
            width: 100%;
        }
        .tf-content {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            position: relative;
            flex: 0 0 auto;
            min-width: 150px;
        }
        .tf-heavy {
            position: relative;
            width: fit-content;
            margin-top: -1.2px;
            margin-left: -0.2px;
            -webkit-text-stroke: 0.2px #070807;
            font-family: "Cormorant Infant";
            font-weight: 400;
            color: #070807;
            font-size: 40px;
            letter-spacing: 0.4px;
            line-height: 38.5px;
            white-space: nowrap;
        }
        .tf-sub-cnt {
            position: relative;
            width: fit-content;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            color: #f9f4ee;
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.14px;
            line-height: 13.5px;
            white-space: nowrap;
        }
        @media (max-width: 766px){
            .tf-main { 
                gap: 10px; 
            }
           
            .m-hide{ display: none;}
        }
        .main-hd {
            display: inline-flex;
            align-items: center;
            gap: 25px;
            margin-bottom: 25px;
            position: relative;
        }
        .main-hd h2 {
            position: relative;
            width: fit-content;
            -webkit-text-stroke: 0.2px #ffffff;
            font-weight: 400;
            color: #ba9775;
            font-size: 28px;
            letter-spacing: 0.32px;
            line-height: 30.8px;
            white-space: nowrap;
        }
        .main-hd h2 .number{
            position: relative;
            width: fit-content;
            margin-top: -1.2px;
            margin-left: -0.2px;
            opacity: 0.3;
            font-weight: 400;
            color: #ba9775;
            font-size: 80px;
            letter-spacing: 0.8px;
            line-height: 77px;
            white-space: nowrap;
            font-family: "Cormorant Infant";
        }
        .pra{
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 160%;
            letter-spacing: -0.24px; 
            margin-bottom: 25px;
        }
        .main-hd h2 .count{
            color: #BA9775;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 96.275%; /* 30.808px */
            letter-spacing: 0.32px;
            text-transform: uppercase;
            opacity: 1;
        }
        section.country,
        section.collection {
            padding: 10% 0;
            background-repeat: no-repeat;
            background-position: right;
        }
        section.country {
            background-image: url(../images/worldMap.svg);
        }
        section.collection {
            background-image: url(../images/coloaction2.png);
            background-color: #111211;
        }
        .cards-wrapper {
            display: flex;
            justify-content: center;
        }
        .cards-wrapper .card img {
            max-width: 100%;
            max-height: 100%;
        }
        .cards-wrapper .card {
            margin: 0 0.5em;
            box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
            border: none;
            border-radius: 0;
            background: none;
            color: #fff;
            width: 100%;
        }
        .distilleries_carousel .carousel-inner {
            padding: 1em;
        }
        .distilleries_carousel .carousel-control-prev,
        .distilleries_carousel .carousel-control-next {
            /* background-color: #e1e1e1; */
            width: 5vh;
            height: 5vh;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
        .cards-wrapper .card a{
            color: #ba9775;
            font-family: "Inter-Regular", Helvetica;
            font-weight: 400;
            font-size: 16px;
        }
        .bottom-link {
            display: flex;
            width: 40%;
            align-items: center;
            justify-content: space-between;
            margin: 20px auto;
        }
        .line-3 {
            width: 355px;
            position: relative;
            height: 1px;
            object-fit: cover;
        }
        .distilleries-slider .cards-wrapper .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            min-height: 48px;
        }
/* trending section css start */
.trending-sec .container{
    max-width: 1064px;
  }
  .trending-sec {
      background-color: #BA9775;
      background-image: url(../images/bg-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
  }
  .trending-item .card{
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.12);
  }
  .trending-item .card-body{
      position: relative;
  }
  .trending-item span.more_text {
      position: absolute;
      top: -31px;
      width: 98px;
      height: 31px;
      background: #000;
      color: #FFF;
      text-align: center;
      font-size: 15px;
      letter-spacing: -0.225px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .trending-item .card-text {
      font-family: "Cormorant Infant";
      min-height: 48px;
      margin-bottom: 16px;
      display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .trending-item {
      margin-bottom: 10px;
  }
  .trending-item a.btn {
      color: #fff;
      display: flex;
      padding: 4px 16px;
      align-items: center;
      gap: 6px;
      border-radius: 8px;
      background: #BA9775;
      max-width: 160px;
  }
  
  .trnd_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}
.trnd_buttons .button {
    color: #fff;
    white-space: nowrap;
}
.trnd_buttons span.line {
    display: block;
    background: #fff;
    width: 100%;
    height: 1px;
    margin: 0 25px;
}
.brands-tabs li.nav-item img {
    opacity: 40%;
}
.brands-tabs .nav-link.active img,.brands-tabs .nav-link:hover img{
    opacity: 1;
    text-decoration: none;
}
.brands-tabs #myTabContent p {
    margin-bottom: 15px;
}
.brands-tabs .nav-item:focus, .brands-tabs .nav-item:hover {
    border-bottom-color: #fff;
}
  /* trending section css end */

.btn-arrow .arrow { 
    background-image: url(../images/Arrow\ 4.png);
    background-repeat: no-repeat;
    background-position: right;
    display: inline-block;
    width: 40px;
    height: 10px;
}

.rt-hd{
    position: relative;
    width: 100%;
    text-align: right;
}

.button.btn-right:after {
    content: '';
    background: #ccc;
    height: 1px;
    width: 75%;
    position: absolute;
    left: 0;
    top: 20px;
}

/* trending section css end */

        /* Responsive Media */
    
        @media (max-width: 766px) {

            .main-hd h2 .number{font-size: 60px;}
            section.collection {
                height: 100vh;
                background-size: 100%;
                margin-bottom: 20px;
                background-position: bottom right;
            }
            .tf-main {
                gap: 40px;
                flex-wrap: wrap;
            }
            .text-hd {
                top: auto;
                right: 5px;
                font-size: 45px;
            }
            .trnd_buttons {
                display: block; 
            }
            .trnd_buttons a.button {
                display: block;
                margin: 0 !important;
                padding: 20px 10px;
            }
            .trnd_buttons span.line{
                display: none;
            }

            .rt-hd.top-m .button.btn-right:after
            {display: none;}
        }



        /* header css start */
        .header nav.navbar {
            background: #070807;
        }
        .header button.navbar-toggler {
            border: none;
        }
        .header button.navbar-toggler:focus,.header .btn-close:focus{
            box-shadow: none;
        }
        .navigation {
            border-top: 0.5px solid #BFBFBF;
            border-bottom: 0.5px solid #BFBFBF;
            padding: 16px 0;
        }
        .navigation .nav-item a.nav-link {
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            text-transform: capitalize;
            opacity: 0.5;
            padding: 0;
            margin-right: 48px;
            position: relative;
            border-bottom: 0;
            text-decoration: none;
        }
        .navigation .nav-item:last-child a.nav-link{
           margin-right: 0;
        }
        .navigation .nav-item .nav-link.active,.navigation .nav-item .nav-link:hover{
            opacity: 1;
            border-bottom: 0 !important;
        }
        .navigation .nav-item .nav-link.active:after,.navigation .nav-item .nav-link:hover:after{
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: -16px;
        }
        .header .navbar-toggler-icon {
            filter: brightness(0) invert(1);
        }
        .left_sidebar {
            background: #000;
        }
        .left_sidebar .nav-link {
            color: #fff;
        }
        .header .offcanvas-body {
            background: #BA9775;
            padding-left: 0;
            padding-right: 0;
        }
        .header .offcanvas-body .nav-link{
            position: relative;
            padding: 12px 15px 12px 30px;
            border-bottom: 0;
        }
        .header .offcanvas-body .nav-link{
            color:#fff;
        }
        .header .offcanvas-body .nav-link.active:after,.offcanvas-body .nav-link:hover::after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.2;
            background: #D9D9D9;
            height: 100%;
            width: 100%;
        }
        .header .offcanvas {
            width: 194px;
            height: calc(100vh - 84px);
            margin-top: 84px;
            overflow: auto;
        }
        .header .offcanvas-header {
            background-color: #ba9775;
            padding-left: 30px;
        }
        .header .user-name {
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: -0.24px;
            margin-top: 10px;
        }
        .header span.join_date {
            color: #FFF;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: -0.24px;
            opacity: 0.6;
        }
        .header .offcanvas {
            width: 194px;
            height: calc(100vh - 84px);
            margin-top: 84px;
            overflow: auto;
        }
        .header .landingpage-sidebar{
           width: 100%;
           height: 430px; 
        }
        .landingpage-sidebar .offcanvas-body {
            background: #070807;
            padding-top: 40px;
        }
        .landing-sidebar-menu li.nav-item {
            width: 33.3%;
            margin-bottom: 10px;
            padding-right: 60px;
        }
        .header .landing-sidebar-menu .nav-link {
            color: #BA9775;
            font-family: "Cormorant Infant";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 96.275%;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            text-decoration: none;
        }
        .landing-sidebar-menu {
            margin-left: 70px;
            padding-bottom: 40px;
            border-bottom: 1px solid #D9D9D9;
        }
        .landing-header .offcanvas-backdrop.fade.show {
            margin-top: 84px;
        }
        .header_contactus {
            padding-left: 70px;
        }
        .header_contactus h2 {
            color: #FFF;
            font-family: "Cormorant Infant";
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 96.275%;
            letter-spacing: 0.32px;
            text-transform: uppercase;
            margin-right: 48px;
        }
        .header_contactus .socal a {
            margin-right: 16px;
        }
        /* header css end */

        /* release page css start */
        .release-tab{
            background: #1C1D1C;
            margin: 32px auto;
            max-width: 1130px;
            border-radius: 8px;
        }
        .release-tab .nav-tabs {
            border-bottom: none;
            padding: 0;
        }
        .release-tab .nav-tabs .nav-link {
            background: transparent;
            color: #FFF;
            font-family: "Cormorant Infant";
            font-size: 24px;
            font-weight: 400;
            line-height: 96.275%;
            letter-spacing: 0.24px;
            text-transform: uppercase;
            opacity: 0.4;
            padding: 0 16px;
            border:none;
            position: relative;
        }
        .release-tab .nav-tabs .nav-link:hover,.release-tab .nav-tabs .nav-link.active{
          opacity: 1;
        }
        .release-tab .nav-tabs .nav-link.active:after,.release-tab .nav-tabs .nav-link:hover:after{
            content: '';
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: -42px;
            z-index: 2;
        }
        .release-tab-header{
           border-bottom:1px solid #959595;
           padding: 33px 24px 33px 0;
        }
        .tab-filters .form-select {
            background-color: transparent;
            color: #fff;
            border: none;
            padding: 7px;
            padding-right: 28px;
            background-image: url(../images/arrow.png);
            background-position: right 5px center;
            background-size: auto;
        }
        .tab-filters .form-select:focus {
            box-shadow: none;
        }
        .tab-filters .form-select option{
            color:#070807;
        }
        .tab-filters {
            padding: 32px 24px 5px 24px;
        }
        .release-rating li {
            display: flex;
            align-items: center;
        }
        .release-rating li {
            margin-left: 15px;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            letter-spacing: 0.16px;
            color: #BA9775;
        }
        .release-rating li:first-child{
            margin-left: 0;
            color: #FFF;
        }
        .release-item {
            display: flex;
            border-radius: 8px;
            border: 1px solid #FFF;
            margin: 0 8px;
            margin-bottom: 16px;
        }
        .release-item h2{
            color: #FFF;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: 0.2px;
            font-weight: 400;
        }
        .release-item h4{
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            letter-spacing: 0.16px;
            margin: 12px 0;
        }
        .release-rating {
            display: flex;
        }
        .release-item .release-item-img img {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            height: 100%;
            width: 204px;
        }
        .release-item-content {
            padding: 16px;
        }
        .release-rating li span {
            color: #fff;
            margin-right: 5px;
        }
        .release-item .view_btn {
            color: #BA9775;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            letter-spacing: -0.24px;
            margin-top: 35px;
            display: inline-block;
        }
        .release-item-img {
            height: 100%;
        }
        .release-listing {
            padding: 0 16px 16px 16px;
        }
        .edit-heading-modal textarea{
            font-size: 20px;
        }
        .custom_outline_btn {
            color: #ba9775;
        }
        .custom_btn:hover,.custom_btn:active,.custom_btn:focus{
          color:#fff;
        }
        /* release page css end */



        /* brands-tabs */

        /* .brands-tabs{
            padding: 80px 2%;
        } */

        .brands-tabs  .carousel-control-prev-icon, .brands-tabs .carousel-control-next-icon {
            background-image: url(../images/arrow1.png);
            background-size: auto;
        }
        .brands-tabs  .carousel-control-prev-icon{
            transform: rotate(180deg);
        }
        .brands-tabs .carousel-control-prev, .brands-tabs  .carousel-control-next {
            width: 40px;
            height: 40px;
            top: 55%;
            transform: translateY(-50%);
            right: -50px; /* Adjust this value to move controls further right */
            left: auto; /* Ensure left is not set */
            transform: rotate(90deg);
        }
        .brands-tabs .carousel-control-prev {
            top: 45%; /* Adjust for previous button */
        }
        .brands-tabs .carousel-inner {
            height: 400px; /* Set your desired height */
        }
        ul#myTab {
            border-bottom: 1px solid #444;
            margin-bottom: 50px;
        }
        l#myTab .nav-underline .nav-link {
            padding-right: 0;
            padding-left: 0;
            border-bottom: none;
            position: relative;
            bottom: 24px;
            height: 80px;
        }
        #myTab .nav-link:focus, .nav-link:hover {
            color: none;
        }
   
        #myTab.nav-underline .nav-link.active, .nav-underline .show>.nav-link, #myTab.nav-underline .nav-link:hover{
            color: #fff;
        }

        #recipeCarousel {
            margin-top: 50px;
        }

        @media (max-width: 767px) {
		#recipeCarousel .carousel-inner .carousel-item > div {
			display: none;
            margin: 0 auto;
		}
		#recipeCarousel .carousel-inner .carousel-item > div:first-child {
			display: block;
		}
        .brands-tabs .carousel-inner {
            height: 350px;
        }
        .brands-tabs .carousel-control-prev, .brands-tabs .carousel-control-next{
            top: 75%;
            transform: none;
        }

        .brands-tabs .carousel-control-prev{
            right: 55%; 
        }
        .brands-tabs .carousel-control-next{
            right: 45%; 
        }


        button.navbar-toggler {
            padding: 0;
        }
        .contact_form .trnd_buttons {
            display: flex;
        }

	}

	#recipeCarousel .carousel-inner .carousel-item.active,
	#recipeCarousel .carousel-inner .carousel-item-next,
	#recipeCarousel .carousel-inner .carousel-item-prev {
		display: flex;
	}

	/* medium and up screens */
	@media (min-width: 768px) {

		#recipeCarousel .carousel-inner .carousel-item-end.active,
		#recipeCarousel .carousel-inner .carousel-item-next {
			transform: translateX(25%);
		}

		#recipeCarousel .carousel-inner .carousel-item-start.active, 
		#recipeCarousel .carousel-inner .carousel-item-prev {
			transform: translateX(-25%);
		}
	}

	#recipeCarousel .carousel-inner .carousel-item-end,
	#recipeCarousel .carousel-inner .carousel-item-start { 
		transform: translateX(0);
	}



    /* news */
    #news .nav-link {
        background: none;
        justify-content: left;
        display: flex;
        padding-bottom: 0;
    }

    .news-tab {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        position: relative;
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid #444;
    
    }

    .news-tab:after {
        content: '';
        background-image: url(../images/Arrow\ 4.png);
        position: absolute;
        background-repeat: no-repeat;
        right: 0;
        top: 40%;
        width: 40px;
        height: 10px;
    }

    h6.announcement {
        position: relative;
        width: fit-content;
        margin-top: -1.2px;
        margin-left: -0.2px;
        -webkit-text-stroke: 0.2px #ba9775; 
        font-weight: 400;
        color: #ba9775;
        font-size: 18px;
        text-align: center;
        letter-spacing: 0.18px;
        line-height: 17.3px;
        white-space: nowrap;
    }
    .date-place {
        display: inline-flex;
        align-items: flex-start;
        gap: 12px;
        position: relative;
        flex: 0 0 auto;
    }
    .tab-content    .date-place{
        opacity: .5;
        padding: 10px 0;
    }
    .footer-content .socal a {
        margin-left: 16px;
    }
    .footer-content .socal a:first-child{
        margin-left: 0;
    }
    .place {
        display: flex;
        gap: 6px;
    }

    .place img{position: relative;
    height: 14px;
    margin-top: 3px;} 

    @media (max-width: 767px){
        section#news .container {
            max-width: 100%;
        }

        .news-tab:after{
            top: 80%;
        }
        
       
    }

    footer {
        width: 100%;
        background-image: url(../images/footer.png);
        padding: 20px;
        margin: 0 auto;
        display: flex
        
    }

  .footer-content {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        position: relative;  
        margin: 0 auto;
    }

    .quick-links a {
        color: #fff;
        padding: 0 10px;
        margin: 10px 0;
        display: inline-block;
        border-left: 1px solid;
    }
    .quick-links a:first-child{ border-left:none;}

    .sections_bg {
        background: url(../images/bg-2.png) no-repeat;
        background-attachment: fixed;
    }
   .brands-tabs{
        background: url(../images/bg-2.png) no-repeat;
        background-attachment: fixed;
    }
    .distilleries-sec {
        background: url(../images/footer.png);
    }
    .distilleries-sec .trnd_buttons {
        max-width: 562px;
        margin: 20px auto;
    }
    .contact_inner {
        background: #000;
        border-radius: 8px;
        padding: 30px 50px;
    }
    .contact_form input, .contact_form select, .contact_form textarea{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #535353;
        border-radius: 0;
        color: #fff;
        appearance: none;
    }
    .contact_form select option{
      color:#000;
    }
    .contact_form input::placeholder,.contact_form textarea::placeholder {
        color: #fff;
    }
    .contact_form input.name::placeholder{
        color: #fff;
    }
    .contact_form input:focus, .contact_form select:focus, .contact_form textarea:focus{
        border-bottom: 1px solid #fff;
        background-color: transparent;
        box-shadow: none;
    }
    
    .contact_form .form-control {
        margin-bottom: 22px;
    }
    .custom_select{
        padding-right: 28px;
        background-image: url(../images/arrow.png);
        background-position: right 5px center;
        background-repeat: no-repeat;
    }
    .distilleries-slider .owl-item{
        opacity: 30%;
    }
    .distilleries-slider .owl-item.active{
        opacity: 1;
    }
    .brands-tabs .card-body:after {
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        content: "";
        opacity: 4%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .trnd_buttons .text-wrapper-28{
        margin-left: 8px;
    }
    .trending-item.cards-wrapper .card .card-img-top {
        height: 235px;
        object-fit: cover;
    }
    .distilleries-sec .cards-wrapper .card .card-img-top{
        height: 225px;
        object-fit: cover;
    }
    .brands-tabs .carousel-item {
        height: 550px;
        object-fit: cover;
    }
    .brands-tabs .right_sec .card-img-top {
        height: 250px;
        object-fit: cover;
    }
    .brand-logos .nav-link img{
       max-width: 100px;
       width: auto;
       margin: auto;
    }
    .brand-logos{
        /* max-width: 800px; */
        margin: auto;
        justify-content: center;
    }
    .header .navbar-toggler:focus {
        box-shadow: none;
        border: 1px solid #fff;
    }
    .landing-header .offcanvas-backdrop.fade.show{
        display: none;
    }
    .tab-filters .release-label {
        border-radius: 50px;
        padding: 6px 12px;
        text-align: center;
        border: 1px solid #6D8190;
        color: #6D8190;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .tab-filters .release-label.active{
        color:#fff;
        border-color: #fff;
    }
    .brands_sec .release-tab .nav-tabs .nav-link.active:after, .brands_sec .release-tab .nav-tabs .nav-link:hover:after {
        bottom: -32px;
    }
    .tab-filters .release-label:hover {
        color: #fff;
        cursor: pointer;
        border-color: #fff;
    }
    .product-box {
        border-radius: 8px;
        border: 1px solid #FFF;
        padding: 20px;
    }
    .product-img{
        max-width: 93.63px;
        opacity: 0.4;
    }
    .tranding-releases-heading h4{
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-transform: uppercase;
        opacity: 0.5;
    }
    .brands-slider-main{
        position: relative;
    }
    .brands-slider-main .owl-prev{
        position: absolute;
        left:0;
    }
    .brands-slider-main .owl-next{
        position: absolute;
        right: 0;
    }
    .brands-slider-main .owl-nav {
        max-width: 29.5%;
        width: 100%;
        transform: translateY(-40%);
        position: absolute;
        top: 40%;
    }
    .brands-slider-main .owl-nav button {
        background: #BA9775 !important;
        width: 26px;
        height: 28px;
    }
    .tranding-releases-heading {
        margin: 15px 0;
    }
    .polls_sec p {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        letter-spacing: 0.16px;
        margin: 10px 0;
    }
    .release_box {
        background: #1C1D1C;
        max-width: 1130px;
        border-radius: 8px;
        margin-top: 32px;
        padding: 15px;
    }
    .nf-list {
        display: inline-flex;
    }
    .polls_product label {
        color: #6D8190;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 8px;
        display: inline-block;
        margin-left:5px;
    }
    /* .polls_product input[type="radio"] {
        accent-color: #ba9775;
        height: 18px;
        width: 18px;
    } */
    .polls_product input[type="radio"]:after{
        width: 18px;
        height: 18px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #1C1D1C;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid #6D8190;
    }

    .polls_product input[type='radio']:checked:after{
        width: 18px;
        height: 18px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ba9775;
        content: '';
        display: inline-block;
        visibility: visible;
        outline: 1px solid #6D8190;
        border: 2px solid #1C1D1C;
    }
    .release_box a {
        color: #ba9775;
    }
    .release_box h2 {
        color: #FFF;
        font-family: "Cormorant Infant";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 96.275%;
        letter-spacing: 0.24px;
        text-transform: uppercase;
    }
    .release_box h3 {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        text-transform: uppercase;
        opacity: 0.5;
    }
    .distillerie_sec .product-box h2 {
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.2px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .distillerie_sec .product-box p {
        opacity: 0.5;
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        letter-spacing: 0.16px;
        text-transform: lowercase;
        height: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        white-space: normal;
    }
    .distillerie_sec .tranding-releases-heading a {
        padding: 7px 12px;
        background: #BA9775;
        color: #fff;
    }
    .distillerie_sec .product-box .product_img{
        height: 182px;
        flex-shrink: 0;
        object-fit: cover;
    }
    @media screen and (max-width:991px){
        .landing-sidebar-menu li.nav-item{
            width: 100%;
        }
        .contact_inner{ padding: 20px 0;}
        .brand-logos {
            width: 100%;
            FLEX-WRAP: nowrap;
            OVERFLOW-X: SCROLL;}
            .socal img{
                width: 40px;
            }
        
    }

    @media screen and (max-width:1400px){
        .release_box button.btn.btnColor {
            font-size: 90%;
        }

    }

    @media screen and (max-width:1599px){
        .header .landing-sidebar-menu .nav-link{
            font-size: 24px;
        }
        .landing-sidebar-menu {
            margin-left: 60px;
            padding-bottom: 20px;
        }
        .header_contactus h2 {
            font-size: 26px;
        }
        .header_contactus .socal img {
            max-width: 50px;
        }
        .sec-pad {
            padding: 40px 0;
        }
        .quick-links {
            text-align: center;
        }
        section.collection {
            background-size: 730px;
        }
    }


    .nav-link {
        color: inherit;
        padding-bottom: 5px; /* Adding some padding to make the border more visible */
        border-bottom: 2px solid transparent; /* Ensure a consistent space for the border */
        transition: border-color 0.3s; /* Smooth transition for the border color */
      }
      
      .nav-link:hover {
        border-bottom: 2px solid #fff; /* Bootstrap primary color */
      }
      
      .active-link {
        border-bottom: 2px solid #fff; /* Bootstrap primary color */
      }
    
      .box {
        /* border: 1px solid #ccc; */
        border-radius: 10px;
        padding: 20px;
        background-color: #111211;
        color: #fff;
      }
      
    
      .product-box {
        border: 1px solid #ccc;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        overflow: hidden;
        position: relative;
      }
      .release-listing .product-box {
        padding: 15px;
    }
      
      .product-image-container {
        flex: 0 0 auto;
        width: 100%;
        max-width: 250px; /* Adjust as needed for desktop */
        overflow: hidden;
        border-radius: 10px 0 0 10px;
        margin-left: -20px;
      }
      @media only screen and (max-width: 768px) {
        .product-image-container {
          flex: 0 0 auto;
          width: 100%;
          max-width: 100%; /* Adjust as needed for desktop */
          overflow: hidden;
          border-radius: 10px 0 0 10px;
          margin-left: 0px;
          margin-top: 10px;
        }
      }
      
      .product-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .product-details {
        padding: 10px;
        flex-grow: 1;
      }
      .product-details h3 {
        font-family: 'Inter';
        font-size: 22px;
        margin-bottom: 15px;
    }

    .single-col .product-box .tranding-releases {
        position: absolute;
        bottom: 0;
        right: 0;
    }
      .author {
        font-style: italic;
      }
      
      .icon {
        margin-right: 5px;
      }
      
      .rating-icon {
        color: #fff; /* Set color for rating icon */
      }
      
      .comment-icon {
        margin-left: 5px;
      }
      
      .radius_10 {
        border-radius: 10px;
        padding: 2px 6px;
        background-color: #1d1e1d;
      }
    
      .release-label {
        border-radius: 10px;
        padding: 2px 6px;
        background-color: #1d1e1d;
        border: 1px solid #6D8190;
        color: #6D8190;
      }
      .release-label.active {
        background-color: #111211;
        color: #fff;
        border: 1px solid #fff;
      }
    
      .btnColor, .btnColor:hover {
        background-color: #ba9775;
        color: white;
      }
      
      .form-control {
        appearance: auto;
        /* background-color: #FFFFFF;
        border: 0.2px solid #FFFFFF; */
      }
    
      .custom-selectbox {
        width: 100%;
        /* font-family: 'Cormorant Infant', serif; */
        letter-spacing: 0.01em;
        text-align: left;
        background-color: #111211; /* Match the box background color */
        border: 0.2px solid #FFFFFF;
        color: inherit; /* Inherit text color from parent */
      }
    
      .custom-selectbox:focus {
        color: inherit; /* Ensure color is inherited when focused */
        background-color: #111211; /* Ensure background matches on focus */
        border-color: #FFFFFF; /* Optional: adjust border color on focus */
        outline: none; /* Remove default outline */
        box-shadow: none; /* Remove default shadow */
      }
    
      .custom-label {
        border-radius: 10px;
        padding: 10px 15px;
        background-color: #333;
        color: #fff;
        font-family: 'Cormorant Infant', serif;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        flex: 1;
        margin: 0 5px;
      }

      .custom_breadcrumb .breadcrumb-item+.breadcrumb-item::before {
        content: ">";
        color: #fff;
    }
    .custom_breadcrumb .breadcrumb-item a{
        color: #fff;
    }
    .custom_breadcrumb .breadcrumb-item.active{
      color: #fff;
      opacity: 50%;
    }
    .brandinfo_right h5 {
        color: #BA9775;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 96.275%;
        letter-spacing: 0.16px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .brandinfo_right p {
        color: #000;
        font-family: "Cormorant Infant";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 96.275%;
        letter-spacing: 0.2px;
        text-transform: uppercase;
    }
    .details_social a {
        display: block;
        margin-bottom: 12px;
    }
    .details_social a img{
        margin-right: 5px;
    }
    .product_description h2 {
        max-width: 402px;
        color: #000;
        text-align: center;
        font-family: "Cormorant Infant";
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 96.275%;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        margin-bottom: 16px;
        margin: auto;
    }
    .gallery-slider .owl-item{
        transform: scale(0.7);
        transition: all 0.5s ease-in-out;
    }
    .gallery_main_sec .owl-nav {
        max-width: 50%;
        width: 100%;
        left: 25%;
        transform: translateY(-40%);
        position: absolute;
        top: 40%;
    }
    .gallery_main_sec .owl-nav button {
        width: 56px;
        height: 56px;
        background-image: url(../images/icons/gallery_arrow.svg) !important;
    }
    .gallery_main_sec .owl-nav button.owl-next{
      transform: rotate(180deg);
    }
    .gallery_main_sec .owl-nav button span{
        display: none;
    }
    .gallery_main_sec .owl-prev {
        position: absolute;
        left: 0;
    }
    .gallery_main_sec .owl-next {
        position: absolute;
        right: 0;
    }
    .gallery_main_sec .cards-wrapper .card img {
        border-radius: 8px;
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    .gallery-slider .owl-item.active.center img {
        transform: scale(2);
        transition: all 0.5s ease-in-out;
        height: 200px;
        object-fit: cover;
        overflow: hidden;
    }
    .gallery_main_sec{
        min-height: 200px;
        margin-bottom: 70px;
    }
    .boxes-bg {
        background: transparent !important;
        position: relative;
        z-index: 1;
    }
    .boxes-bg::before{
        content: "";
        background-color: #fff;
        opacity: 4%;
        left:0;
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        border-radius: 8px;
        z-index: -1;
    }
    .tranding-slider .carousel-indicators {
        display: none;
    }
    
    
    .tranding-slider .carousel-control-next-icon, .tranding-slider .carousel-control-prev-icon {
        background-color: #bd9b7a;
        opacity: 1;
        background-size: 16px;
    }
    .release_box .overlay{
        background-color: #000;
        padding: 8px 15px;
    }
    .subscribe-sec h1 {
        color: #FFF;
        font-family: "Cormorant Infant";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 96.275%;
        letter-spacing: 0.28px;
        text-transform: uppercase;
    }
    .newsletter-subscription input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        margin: 0 10px;
    }
    .newsletter-subscription input::placeholder{
        color: #fff;
        opacity: 0.6;
    }
    .flavours_sec .release-tab-header {
        padding: 15px 7px 18px 0;
    }
    .flavours_sec .release-tab .nav-tabs .nav-link.active:after, .flavours_sec .release-tab .nav-tabs .nav-link:hover:after {
        bottom: -18px;
    }
    .falvours_tab_content {
        margin: 40px 0px 10px 10px;
    }
    .falvours_tab_content h2 {
        color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: -0.24px;
        padding-top: 10px;
    }
    .falvours_tab_content p{
        color: #FFF;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: -0.21px;
        opacity: 0.8;
        padding-bottom: 10px;
    }
      /* --------------------ratting new------------------- */

      #rating h4,  #rating h5{ 
        text-transform: uppercase
            }
        
        
            #rating h5{
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;  
            }
        
            #rating .nav-tabs .nav-link {
                margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
                border: none; 
                color: #FFF;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;  
        text-transform: uppercase;
        opacity: .5;
        background: none;
            }
        
        
        
            #rating .nav-tabs .nav-item.show .nav-link, 
            #rating .nav-tabs .nav-link.active{
                opacity: 1;
            }
        
            .rate-visual{
                display: flex;
                gap: 16px;
                align-items: center;
                padding-top: 15px;
            }
            .rate-visual .big-num{
                color: #FFF; 
                text-align: center;
                font-family: "Cormorant Infant";
                font-size: 46px;
                font-style: normal;
                font-weight: 400;
                line-height: 96.275%;  
                letter-spacing: 0.56px;
                text-transform: uppercase;
            }
        
            .rate-visual .star{
               display: flex;
               gap: 3px;
               /* padding: 15px 0 0 0; */
            }
            .rate-visual .star svg{
                stroke-width: 1px;
                stroke: #BA9775;
                width: 27px;
                }
                svg.fill{
                    fill: #BA9775;
                }
        
        
            .rate-visual .rate-count{
                color: #BA9775; 
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 300;
                line-height: 160%; 
                text-transform: uppercase;
                /* padding: 15px 0 0 0; */
            }
        
        
        
        
        
        
        
            .rt-main{
                display: inline-flex;
                align-items: flex-start;
                gap: 48px;
                margin-top: 35px;
            }
        
            .rt-container{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 12px;
            }
            .rt-small-hd{
                color: #FFF; 
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; 
        text-transform: uppercase;
        opacity: .5;
            }
            .rt-big-hd{
                color: #FFF; 
                text-align: center;
                font-family: "Cormorant", serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 96.275%;  
                letter-spacing: 0.28px;
                text-transform: uppercase;
        
            }
            @media screen and (max-width:767px){
           
                ul.nav.nav-tabs {
                    flex-wrap: nowrap;
                    overflow-x: scroll;
                    overflow-y: hidden;
                }
        
                .rt-main { 
                    flex-wrap: wrap;
                }
            }
               
        
        
               /* ----------------tasting ------------------------- */
        
              #tasting .owl-carousel .owl-nav button.owl-prev, 
              #tasting  .owl-carousel .owl-nav button.owl-next {
                    position: absolute;
                    top: 10px;
                    right: 10px; 
                    border: none;
                    font-size: 18px;
                    padding: 5px 10px;
                    margin: 0 5px;
                    background-image: url(../images/tast-arrow.svg);
                    width: 24px;
                    height: 12px;
                    background-repeat: no-repeat;
        
                }
        
                #tasting .owl-carousel .owl-nav button.owl-prev {
                    right: -32px;
                    transform: rotate(180deg);
                }
        
                #tasting  .owl-carousel .owl-nav button.owl-next {
                    right: 10px;
                }
        
                #tasting  .owl-carousel .owl-nav {
                    position: absolute;
                    top: -27px;
                    right: 60px;
                }
        
                #tasting  .owl-prev span, #tasting  .owl-next span{
                    display: none;
            
                   }
               
        .owl-stage-outer{
            position: relative;
        }
        
                .tast-right{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            text-transform: uppercase;
        }
                .tast-hd-small{
                    color: #FFF; 
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;  
                    opacity: .5;
                }
        
                .tast-name{
                    color: #BA9775;
                    -webkit-text-stroke-width: 0.20000000298023224;
                    -webkit-text-stroke-color: #BA9775;
                    font-family: "Cormorant Infant";
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 96.275%; 
                    letter-spacing: 0.28px; 
                }
        
                .tast-score{
                    color: #FFF;
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 160%;   
                }
        
                .tast-score span {
                    color: #BA9775;
                }

                .testing-owl.owl-carousel .owl-item {
                    padding-top: 50px;
                }
                .published-content img {
                    position: absolute;
                }
                .published-content p {
                    padding-left: 38px;
                }
                .bookmark_icon {
                    width: 30px;
                    height: 30px;
                    border: 1px solid #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
                .bookmark_icon svg{
                    margin-right: 0 !important;
                }
                #sort-by{
                    width: 72px;
                }
                .catalogue_filter .custom-selectbox {
                    border-color: #6D8190;
                }
                .catalogue_filter .custom-selectbox {
                    border-color: #6D8190;
                    color: #6D8190;
                }
                .catalogue_filter .custom-selectbox option {
                    color: #fff;
                }
                @media screen and (max-width:767px){ 
            ul.nav.nav-tabs {
                flex-wrap: nowrap;
                overflow-x: scroll;
                overflow-y: hidden;
            }
        }
                
    
    @media screen and (max-width:1599px){
        .flavours_sec .release-tab .nav-tabs .nav-link {
            font-size: 18px;
        }
    }

    @media screen and (min-width:1600px) {
        .brandinfo_right {
            padding-left: 50px;
        }
    }
   